<div class="container backmain">



	<div class="jumbotron back">
	  <h1 class="display-3 head">News Scraper!</h1>
	  <p class="lead summ">News coming at you in seconds!  Be sure to comment on your thoughts of each article.</p>
	  <hr class="m-y-2">


	  <p class="lead summ">
	    <a class="btn btn-primary btn-lg mainbutt" href="/infopush" runat="server" role="button">Get News</a>
	  </p>

	  
	</div>

	{{!-- each row updatea a new article resulting in 5 total --}}
	
		  <div class="row">
		  	    <div class="col-md-6">
	
		  	    	<div class="articlesMain">

					<h4>Title: {{article.[0].title}}</h4>
					<a href="{{article.[0].link}}">Full Article</a>
					</br>
					<img src="{{article.[0].photo}}">
					</br>
					<p>{{article.[0].summary}}</p>
					

			   		 </div>
			   		 
			   		 
			    </div>
			    <div class="col-md-2"></div>
			    <div class="col-md-4">

			    	    	
			    	<h3>Comments</h3>
                	<div class="input-group">
			    		<ul class="commentsection">
		            	{{#each article.[0].Comment}}
		             		<li >{{this}} <button type="button" class="btn btn-default btn-xs delete" data-text={{this}} ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></li>
		             	{{/each}}
		             	</ul>



		                <div class="input-group">
                        	<input type="text" class="form-control" size="50" placeholder="Your Thoughts" id="userComment" data-id={{article.[0]._id}}>
                        	<span class="input-group-btn">
                        		<button class="btn btn-default" type="button" id="comment">Comment</button>
                        	</span>
                    	</div>
                    </div>  
                </div>  
		  </div>

		  <div class="row">
		  	    <div class="col-md-6">
	
		  	    	<div class="articlesMain">

					<h4>Title: {{article.[1].title}}</h4>
					<a href="{{article.[1].link}}">Full Article</a>
					</br>
					<img src="{{article.[1].photo}}">
					</br>
					<p>{{article.[1].summary}}</p>
					

			   		 </div>
			   		 
			   		 
			    </div>
			    <div class="col-md-2"></div>
			    <div class="col-md-4">

			    	    	
			    	<h3>Comments</h3>
                	<div class="input-group">
			    		<ul class="commentsection">
		            	{{#each article.[1].Comment}}
		             		<li >{{this}} <button type="button" class="btn btn-default btn-xs delete" data-text={{this}} ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></li>
		             	{{/each}}
		             	</ul>



		                <div class="input-group">
                        	<input type="text" class="form-control" size="50" placeholder="Your Thoughts" id="userComment" data-id={{article.[1]._id}}>
                        	<span class="input-group-btn">
                        		<button class="btn btn-default" type="button" id="comment">Comment</button>
                        	</span>
                    	</div>
                    </div>  
                </div>  
		  </div>



		  <div class="row">
		  	    <div class="col-md-6">
	
		  	    	<div class="articlesMain">

					<h4>Title: {{article.[2].title}}</h4>
					<a href="{{article.[2].link}}">Full Article</a>
					</br>
					<img src="{{article.[2].photo}}">
					</br>
					<p>{{article.[2].summary}}</p>
					

			   		 </div>
			   		 
			   		 
			    </div>
			    <div class="col-md-2"></div>
			    <div class="col-md-4">

			    	    	
			    	<h3>Comments</h3>
                	<div class="input-group">
			    		<ul class="commentsection">
		            	{{#each article.[2].Comment}}
		             		<li >{{this}} <button type="button" class="btn btn-default btn-xs delete" data-text={{this}} ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></li>
		             	{{/each}}
		             	</ul>



		                <div class="input-group">
                        	<input type="text" class="form-control" size="50" placeholder="Your Thoughts" id="userComment" data-id={{article.[2]._id}}>
                        	<span class="input-group-btn">
                        		<button class="btn btn-default" type="button" id="comment">Comment</button>
                        	</span>
                    	</div>
                    </div>  
                </div>  
		  </div>



		  <div class="row">
		  	    <div class="col-md-6">
	
		  	    	<div class="articlesMain">

					<h4>Title: {{article.[3].title}}</h4>
					<a href="{{article.[3].link}}">Full Article</a>
					</br>
					<img src="{{article.[3].photo}}">
					</br>
					<p>{{article.[3].summary}}</p>
					

			   		 </div>
			   		 
			   		 
			    </div>
			    <div class="col-md-2"></div>
			    <div class="col-md-4">

			    	    	
			    	<h3>Comments</h3>
                	<div class="input-group">
			    		<ul class="commentsection">
		            	{{#each article.[3].Comment}}
		             		<li >{{this}} <button type="button" class="btn btn-default btn-xs delete" data-text={{this}} ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></li>
		             	{{/each}}
		             	</ul>



		                <div class="input-group">
                        	<input type="text" class="form-control" size="50" placeholder="Your Thoughts" id="userComment" data-id={{article.[3]._id}}>
                        	<span class="input-group-btn">
                        		<button class="btn btn-default" type="button" id="comment">Comment</button>
                        	</span>
                    	</div>
                    </div>  
                </div>  
		  </div>


		  		  <div class="row">
		  	    <div class="col-md-6">
	
		  	    	<div class="articlesMain">

					<h4>Title: {{article.[4].title}}</h4>
					<a href="{{article.[4].link}}">Full Article</a>
					</br>
					<img src="{{article.[4].photo}}">
					</br>
					<p>{{article.[4].summary}}</p>
					

			   		 </div>
			   		 
			   		 
			    </div>
			    <div class="col-md-2"></div>
			    <div class="col-md-4">

			    	    	
			    	<h3>Comments</h3>
                	<div class="input-group">
			    		<ul class="commentsection">
		            	{{#each article.[4].Comment}}
		             		<li >{{this}} <button type="button" class="btn btn-default btn-xs delete" data-text={{this}} ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></li>
		             	{{/each}}
		             	</ul>



		                <div class="input-group">
                        	<input type="text" class="form-control" size="50" placeholder="Your Thoughts" id="userComment" data-id={{article.[4]._id}}>
                        	<span class="input-group-btn">
                        		<button class="btn btn-default" type="button" id="comment">Comment</button>
                        	</span>
                    	</div>
                    </div>  
                </div>  
		  </div>




		  		
	 

</div>