<div class="container backmain">



	<div class="jumbotron back">
	  <h1 class="display-3 head">News Scraper!</h1>
	  <p class="lead summ">News coming at you in seconds!  Be sure to comment on your thoughts of each article</p>
	  <hr class="m-y-2">


	  <p class="lead summ">
	    <a class="btn btn-primary btn-lg mainbutt" href="/infopush" runat="server" role="button">Get News</a>
	  </p>

	  
	</div>

	
		  <div class="row">
		  	    <div class="col-md-6">
	
		  	    	<div class="articlesMain">

					<h4>Title: {{article.[0].Title}}</h4>
					<a href="{{article.[0].Link}}">Full Article</a>
					</br>
					<img src="{{article.[0].Photo}}">
					</br>
					<p>{{article.[0].Summary}}</p>
					

			   		 </div>
			   		 
			   		 
			    </div>
			    <div class="col-md-2"></div>
			    <div class="col-md-4">

			    	    	
			    	<h3>Comments</h3>
                	<div class="input-group">
			    		<ul class="comments">
		            	{{#each article.[0].Comment}}
		             		<li >{{this}} <button type="button" class="btn btn-default btn-xs delete" data-text={{this}} ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></li>
		             	{{/each}}
		             	</ul>



		                <div class="input-group">
                        	<input type="text" class="form-control" size="50" placeholder="Your Thoughts" id="userComment" data-id={{article.[0]._id}}>
                        	<span class="input-group-btn">
                        		<button class="btn btn-default" type="button" id="comment">Comment</button>
                        	</span>
                    	</div>
                    </div>



			    
		  		</div>
		  		
	 

</div>